@model  Dejavu.Common.ViewModels.TestimonyViewModel
@using (Html.BeginForm("New", "Testimony", FormMethod.Post, new {@class = "form-horizontal", role = "form", id = "form" + i.Id}))
{
    @Html.Hidden("ProgramId", i.Id)
    <div class="form-group" style="padding: 14px;">
        @Html.TextBox("PostedBy", null, new {@class = "form-control", placeholder = "Full Name"})     
    </div>

    <div class="form-group" style="padding: 14px;">
        @Html.TextBox("Chapter", null, new {@class = "form-control", placeholder = "Your Chapter"})
    </div>

    <div class="form-group" style="padding: 14px;">
        @Html.TextArea("Post", null, new {@class = "form-control", placeholder = "Your Experience", rows = 5})
    </div>
    <div>
        <button type="submit" class="btn btn-primary">
            Share <i class="glyphicon glyphicon-share"></i>
        </button>
    </div>
}