@{
    ViewBag.Title = "Welcome to DejaVu";
}

<div id="countdown">
    
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#countdown').countdown({
                until: (-8, 2015, 1 - 1, 1), format: 'DHMS', layout:
                    '<div id="timer">' + '<hr />' +
                        '<div id="timer_days" class="timer_numbers">{dnn}</div>' +
                        '<div id="timer_hours" class="timer_numbers">{hnn}</div>' +
                        '<div id="timer_mins" class="timer_numbers">{mnn}</div>' +
                        '<div id="timer_seconds" class="timer_numbers">{snn}</div>' +
                        '<div id="timer_labels">' +
                            '<div id="timer_days_label" class="timer_labels">days</div>' +
                            '<div id="timer_hours_label" class="timer_labels">hours</div>' +
                            '<div id="timer_mins_label" class="timer_labels">mins</div>' +
                            '<div id="timer_seconds_label" class="timer_labels">secs</div>' +
                        '</div>' +
                    '</div>'
            });
        });
    </script>
}
