<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DejavuConnection" connectionString="data source=PETER;initial catalog=dejavu;persist security info=True;user id=sa;password=edikep2000" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>